body, html {
    margin: 0;
    padding: 0;
}

.logo {
    border: none;
    height: 105px;
    width: 105px;
}

.header-font {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

p {
    font-family: 'Abel', sans-serif;
}

.custom-orange {
    background-color: #E6563B;
}

.custom-yellow {
    background-color: #EB9D3A;
}

.custom-green {
    background-color: #7CB06C;
}

.custom-blue {
    background-color: #00ABA9;
}

.custom-lt-gray {
    background-color: #F0F0F0;
}

.custom-gray {
    background-color: #E6E6E6;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #00ABA9;
}

.circles {
    height: 105px;
    width: 105px;
    border: 10px solid white;
    border-radius: 52px;
    color: white;
    font-family: 'Anton', sans-serif;
}

img {
    border: #E6E6E6 5px solid;
    border-radius: 10px;

}

.circle-icons {
    font-size: 12px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    color: black;
    font-family: 'Anton', sans-serif;
    margin-right: 5px;
}